node_modules/
dist/
.DS_Store

# Playwright
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/

# logs
*.log
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*

# editor
.vscode/*
!.vscode/extensions.json
.idea

# env
.env
.env.local

# misc
*.tsbuildinfo
coverage/
